








{{#section 'title'}}

{{/section}}
<div class="row">
    <ol class="breadcrumb">
        <li><a href="/admin">
            <em class="fa fa-home"></em>
        </a></li>
        <li class="active">Dashboard</li>
        </ol>
    </div><!--/.row-->
    
    <div class="row" style="border-bottom:1px solid green;">
        <div class="col-lg-12" >
            <h1 class="page-header">Dashboard</h1>
        </div>
    </div><!--/.row-->
<div class="row dashboarddai">
    <div class="col-sm-2 col-lg-2">
        <div id="qlsp" style="border:2px solid grey;">
            <a href="quanlysanpham" >
                <img class="img-responsive"id="imgnew0" src="media/image-admin/quanlysanpham.jpg">
            </a>
            <p style="color: blue;text-align: center; font-style: italic; font-weight:bold;">
                Quản lý sản phẩm
            </p>
        </div>

    </div>
    <div class="col-sm-2 col-lg-2">
        <div id="qlsp" style="border:2px solid grey;">
            <a href="quanlydonhang">
                <img class="img-responsive"id="imgnew0" src="media/image-admin//quanlydonhang.png">
            </a>
            <p style="color: blue;text-align: center; font-style: italic; font-weight:bold;">
                Quản lý đơn hàng
            </p>
        </div>
    </div>
</div>


