{{#section 'title'}}
{{/section}}
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Dashboard/Quản lý Sản phẩm/Nhà sản xuất/CFGV – Pháp</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row" style="border-bottom:1px solid green;">
			<div class="col-lg-8" >
				<h1 class="page-header">CFGV – Pháp</h1>
			</div>
		</div><!--/.row-->
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Mã sản phẩm</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Ngày nhập</th>
                <th scope="col">Số lượng</th>
                
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Château Suau Sauternes 2014 Grand Cru Classé</td>
                <td>24/05/2018</td>
                <td>50</td>
                <td>
                    <button onclick='rm()'>
                        Xóa
                    </button>
                </td>
                
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Les Portes 2015 de Bordeaux</td>
                <td>24/05/2018</td>
                <td>30</td>
                <td>
                    <button onclick='rm()'>
                        Xóa
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Les Portes 2015 de Bordeaux Sauvignon Blanc</td>
                <td>4/05/2018</td>
                <td>55</td>
                <td>
                    <button onclick='rm()'>
                        Xóa
                    </button>
                </td>
            </tr>
            
        </tbody>
        
    </table>
    <button onclick='rm()'>
        Thêm
    </button>
</div>
