{{#section 'title'}}
{{/section}}
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Dashboard/Quản lý sản phẩm</li>
			</ol>
		</div><!--/.row-->

		<div class="row" style="border-bottom:1px solid green;">
			<div class="col-lg-12" >
				<h1 class="page-header">Quản lý sản phẩm</h1>
			</div>
		</div><!--/.row-->

<div class="row sanpham" style="margin-top:20px;">
    <div class="col-sm-2 col-lg-2">
        <div id="qlsp" style="border:2px solid grey;">
            <a href="/admin/quanlysanpham/quanlytheoloaisp" >
                <img class="img-responsive" id="imgnew0" src="media/image-admin//loaisanpham.png">
            </a>
            <p style="color: blue;text-align: center; font-style: italic; font-weight:bold;">
                Loại sản phẩm
            </p>
        </div>
    </div>
    <div class="col-sm-2 col-lg-2">
        <div id="qlsp" style="border:2px solid grey;">
            <a href="/admin/quanlysanpham/quanlytheonhasx" >
                <img class="img-responsive" id="imgnew0" src="media/image-admin//nhasanxuat.jpg">
            </a>
            <p style="color: blue;text-align: center; font-style: italic; font-weight:bold;">
                Nhà sản xuất
            </p>
        </div>
    </div>
</div>
